<div class="container">
    <h2 class="text-center">Exchange Rate</h2>
    <h3>GBP to USD</h3>
    <div class="m-30" style="margin-bottom: 20px; margin-top: 20px;">
        <div *ngIf="percentage != 0" class="fs-20 bi " 
        [ngClass]="isIncrease ? 'bi-triangle-fill text-success' : 'bi-caret-down-fill text-danger'"> {{ percentage }}%</div>
    </div>
    <div class="chart-container m-20" style="position: relative; height:80vh; width:80vw; margin-top: 20px;">
        <canvas  id="MyChart" >{{ chart }}</canvas>
  </div>
</div>
